#notif-modal.modal.hide
  .modal-body
    %p
      =t 'pages.notif_modal.explain'
      %br/
      %br/
      =t 'pages.notif_modal.fill_in'
    = form_for @newsletter, remote: true do |f|
      .control-group
        = f.hidden_field :from, value: request.subdomain
        .controls
          .input-append
            = f.text_field   :email, type: 'email', placeholder: t('pages.notif_modal.placeholder')
            %button#submit-placeholder.btn.btn-primary{type: 'button'}=t 'pages.notif_modal.submit'
          %span#loader= image_tag 'loader.gif'
          %span.help-inline#feedback-message
      .hidden= f.submit t('pages.notif_modal.submit'), id: 'hidden-submit'
    %p.team=t 'pages.notif_modal.team'
    #images
      #partners
        .partner
          = image_tag 'franck.jpg',  alt: 'F. Sabattier'
          %h5 F. Sabattier
        .partner.last
          = image_tag 'dominic.jpg',   alt: 'D. Matheron'
          %h5 D. Matheron

