#notif-modal.modal.hide
  .modal-body
    %p
      =t 'pages.join.notif_modal.explain'
      %br/
      %br/
      =t 'pages.join.notif_modal.fill_in'
    = form_for @newsletter, remote: true do |f|
      .input-append
        = f.text_field   :email, type: 'email', placeholder: t('pages.join.notif_modal.placeholder')
        = f.hidden_field :from, value: request.subdomain
        %button#submit-placeholder.btn.btn-primary{type: 'button'}=t 'pages.join.notif_modal.submit'
        %span#loader= image_tag 'loader.gif'
      %i.icon-ok#ok
      %i.icon-remove#error
      #feedback-message
      .hidden= f.submit t('pages.join.notif_modal.submit'), id: 'hidden-submit'
    %p.team=t 'pages.join.notif_modal.team'
    #images
      #partners
        .partner
          = image_tag 'franck.jpg',  alt: 'F. Sabattier'
          %h5 F. Sabattier
        .partner.last
          = image_tag 'dominic.jpg',   alt: 'D. Matheron'
          %h5 D. Matheron

