.row-fluid#value_prop
  .span12
    %h1=t 'pages.join.title'
    %h3=t 'pages.join.subtitle'

.row-fluid#templates.join
  .span12
    #wrapper
      .arrow-left{id:'arrow-left', class: 'visible-desktop'}
      .arrow-left.hidden-desktop
      #slider
        .template
          = link_to image_tag("cvs/cv_1_#{default_locale}_small.png", alt: 'CV 1'), asset_path("cvs/cv_1_#{default_locale}_big.png"), title: t('pages.templates.view_big')
          %br/
          %a.btn.btn-primary{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.templates.buy_title'), id: 'cta_template_1'}=t 'pages.join.buy_button'
          %span.price=t 'pages.join.price',price: @price 
        .template
          = link_to image_tag("cvs/cv_2_#{default_locale}_small.png", alt: 'CV 2'), asset_path("cvs/cv_2_#{default_locale}_big.png"), title: t('pages.templates.view_big')
          %br/
          %a.btn.btn-primary{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.templates.buy_title'), id: 'cta_template_2'}=t 'pages.join.buy_button'
          %span.price=t 'pages.join.price',price: @price
        .template
          = link_to image_tag("cvs/cv_3_#{default_locale}_small.png", alt: 'CV 3'), asset_path("cvs/cv_3_#{default_locale}_big.png"), title: t('pages.templates.view_big')
          %br/
          %a.btn.btn-primary{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.templates.buy_title'), id: 'cta_template_3'}=t 'pages.join.buy_button'
          %span.price=t 'pages.join.price',price: @price
        .template
          = link_to image_tag("cvs/cv_4_#{default_locale}_small.jpg", alt: 'CV 4'), asset_path("cvs/cv_4_#{default_locale}_big.jpg"), title: t('pages.templates.view_big')
          %br/
          %a.btn.btn-primary{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.templates.buy_title'), id: 'cta_template_4'}=t 'pages.join.buy_button'
          %span.price=t 'pages.join.price',price: @price
        .template
          = link_to image_tag("cvs/cv_5_#{default_locale}_small.png", alt: 'CV 5'), asset_path("cvs/cv_5_#{default_locale}_big.png"), title: t('pages.templates.view_big')
          %br/
          %a.btn.btn-primary{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.templates.buy_title'), id: 'cta_template_5'}=t 'pages.join.buy_button'
          %span.price=t 'pages.join.price',price: @price
      .arrow-right{id:'arrow-right', class: 'visible-desktop'}
      .arrow-right.hidden-desktop

%h3.explain=t 'pages.join.explain'

.row-fluid#steps
  .span4.step
    .icon
      .icon-picture
    =t 'pages.join.step1'
  .span4.step
    .icon
      .icon-download-alt
    =t 'pages.join.step2'
  .span4.step
    .icon
      .icon-thumbs-up
    =t 'pages.join.step3'

%footer
  .row-fluid
    .span5
      %h3=t 'pages.join.partners'
      %p=t 'pages.join.partners_description'
      #images
        #partners
          .partner
            = image_tag 'guillaume.png', alt: 'G. Masuit'
          .partner
            = image_tag 'delphine.png',  alt: 'D. Pau'
          .partner.last
            = image_tag 'tristan.png',   alt: 'T. Rousselle'
    .span4.offset3#follow-us
      %h3=t 'pages.follow_us'
      .social-links
        %a{href: 'http://twitter.com/joblr_co', target: 'blank'}
          .icon-twitter
        %a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
          .icon-linkedin
        %a{href: 'http://fb.me/joblr.co', target: 'blank'}
          .icon-facebook
