.row-fluid#value_prop
	.span12
		%h1=t 'pages.join.title'

.row-fluid#templates.join
	.span12
		#wrapper
			#slider
				.template
					= image_tag "cvs/cv_1_#{locale}_small.png", alt: 'CV 1', title: t('pages.templates.view_big'), class: 'small'
				.template
					= image_tag "cvs/cv_2_#{locale}_small.png", alt: 'CV 2', title: t('pages.templates.view_big'), class: 'small'
				.template
					= image_tag "cvs/cv_3_#{locale}_small.png", alt: 'CV 3', title: t('pages.templates.view_big'), class: 'small'
				.template
					= image_tag "cvs/cv_4_#{locale}_small.jpg", alt: 'CV 4', title: t('pages.templates.view_big'), class: 'small'
				.template
					= image_tag "cvs/cv_5_#{locale}_small.png", alt: 'CV 5', title: t('pages.templates.view_big'), class: 'small'

.row-fluid
	.span12#cta.join
		%h2=t 'pages.join.cta'
		%a.btn.btn-large.btn-primary.hidden-phone.cta-join{href: templates_path, title: t('pages.join.cta_title')}
			=t 'pages.join.cta_button'
		%a.btn.btn-primary.visible-phone.cta-join{href: templates_path, title: t('pages.join.cta_title')}
			=t 'pages.join.cta_button'

%footer
	.row-fluid
		.span5
			%h3=t 'pages.join.partners'
			%p=t 'pages.join.partners_description'
			#images
				#partners
					.partner
						= image_tag 'guillaume.png', alt: 'G. Masuit'
					.partner
						= image_tag 'delphine.png',  alt: 'D. Pau'
					.partner.last
						= image_tag 'tristan.png',	 alt: 'T. Rousselle'
		.span4.offset3#follow-us
			%h3=t 'pages.follow_us'
			.social-links
				%a{href: 'http://twitter.com/joblr_co', target: 'blank'}
					.icon-twitter
				%a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
					.icon-linkedin
				%a{href: 'http://fb.me/joblr.co', target: 'blank'}
					.icon-facebook
