.row-fluid#value_prop
	.span12
		%h1=t 'pages.join.title'

.row-fluid#images
	.span6#certified
		/ = image_tag 'certified.jpg', alt: 'certified', id: 'certified-logo'
		%h2=t 'pages.join.partners'
		%p=t 'pages.join.partners_description_html'
		#partners
			.partner
				= image_tag 'guillaume.jpg', alt: 'G.Masuit'
				%h5 G.Masuit
			.partner
				= image_tag 'delphine.jpg',  alt: 'D.Pau'
				%h5 D.Pau
			.partner.last
				= image_tag 'tristan.jpg',	 alt: 'T.Rousselle'
				%h5 T.Rousselle
			.partner
				= image_tag 'arrow.jpg',		 alt: 'arrow'
	.span6#cvs
		= image_tag 'cvs.jpg', alt: 'cvs'

.row-fluid#cta
	.span12
		=t 'pages.join.cta'
		%a.btn.btn-primary{href: '#'}=t 'pages.join.cta_button'

%footer
	.container
		.row-fluid
			.span4
				%h3=t 'pages.join.follow'
				.social-links
					%a{href: 'http://twitter.com/joblr_co', target: 'blank'}
						.icon-twitter
					%a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
						.icon-linkedin
					%a{href: 'http://fb.me/joblr.co', target: 'blank'}
						.icon-facebook
			.span8#about-us
				%h3=t 'pages.join.about_us'
				%p=t 'pages.join.about_us_description_html'

= mixpanel_call('track', 'Viewed teaser page', "{'Teaser version': 'templates'}")