.row-fluid#value_prop
	.span12
		%h1=t 'pages.join.title'

.row-fluid#images
	.span5#certified
		.visible-phone= image_tag 'cvs.jpg', alt: 'cvs'
		#partners
			%h2=t 'pages.join.partners'
			%p=t 'pages.join.partners_description'
			.partner
				= image_tag 'guillaume.jpg', alt: 'G. Masuit'
				%h5 G. Masuit
			.partner
				= image_tag 'delphine.jpg',  alt: 'D. Pau'
				%h5 D. Pau
			.partner.last
				= image_tag 'tristan.jpg',	 alt: 'T. Rousselle'
				%h5 T. Rousselle
			.partner.hidden-phone
				= image_tag 'arrow.jpg',		 alt: 'arrow'
	.span7.hidden-phone#cvs
		= image_tag 'cvs.jpg', alt: 'cvs'

.row-fluid#cta
	.span12
		.cta-text=t 'pages.join.cta'
		%a.btn.btn-large.btn-primary.hidden-phone.cta-join{href: templates_path, title: t('pages.join.cta_title')}
			=t 'pages.join.cta_button'
		%a.btn.btn-primary.visible-phone.cta-join{href: templates_path, title: t('pages.join.cta_title')}
			=t 'pages.join.cta_button'

%footer
	.container
		.row-fluid
			.span4
				.hidden-phone
					%h3=t 'pages.follow'
				.social-links
					%a{href: 'http://twitter.com/joblr_co', target: 'blank'}
						.icon-twitter
					%a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
						.icon-linkedin
					%a{href: 'http://fb.me/joblr.co', target: 'blank'}
						.icon-facebook
			.span5.offset3#about-us.hidden-phone
				%h3=t 'pages.about_us'
				%p=t 'pages.about_us_description_html'
