.row-fluid#value_prop
	.span12
		%h1=t 'pages.resume.title'

.row-fluid.description.visible-desktop
	.span8
		= image_tag "resumes_#{default_locale}.png"
	.span4
		%h3=t 'pages.resume.subtitle'
		=t 'pages.resume.description_html'
		%a.btn.btn-large.btn-primary.cta-resume{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.resume.cta')}
			=t 'pages.resume.cta'
.row-fluid.description.hidden-desktop
	.span12
		= image_tag "resumes_#{default_locale}.png"
		%h3=t 'pages.resume.subtitle'
		=t 'pages.resume.description_html'
		%a.btn.btn-large.btn-primary.pull-right.cta-resume{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.resume.cta')}
			=t 'pages.resume.cta'

.row-fluid#steps
	.span4.step
		.icon
			.icon-download-alt
		=t 'pages.resume.step1'
	.span4.step
		.icon
			.icon-picture
		=t @price == 'faldse' ? 'pages.resume.step2' : 'pages.resume.step2_alt_html'
	.span4.step
		.icon
			.icon-thumbs-up
		=t @price == 'faldse' ? 'pages.resume.step3' : 'pages.resume.step3_alt'

%footer
	.row-fluid
		.span5#partnering
			%h3=t 'pages.join.partners'
			%p=t 'pages.join.partners_description'
			#images
				#partners
					.partner
						= image_tag 'guillaume.png', alt: 'G. Masuit'
					.partner
						= image_tag 'delphine.png',  alt: 'D. Pau'
					.partner.last
						= image_tag 'tristan.png',	 alt: 'T. Rousselle'
		.span4.offset3#follow-us.hidden-phone
			%h3=t 'pages.follow_us'
			.social-links
				%a{href: 'http://twitter.com/joblr_co', target: 'blank'}
					.icon-twitter
				%a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
					.icon-linkedin
				%a{href: 'http://fb.me/joblr.co', target: 'blank'}
					.icon-facebook